
  
  
.center-block {
  float:none;
}
.buttons {
  margin: 40px;
  
}
.myButtonLink {
	display: block;
	width: 150px;
	height: 175px;
  background: url('/assets/rock-eyebrow.jpg') bottom;
	/*text-indent: -99999px;
}*/
}
.myButtonLink:hover {
	background-position: 0 0;
}
.scissorButton  {
  background: url('/assets/scissors');

}